<%- include('./partials/header.ejs')%>

<div class="finding-menu">
  <h2>Find drink you want to prepare</h2>
  <form action="/find" method="get">
    <label for="name">Enter the name of the drink or part of it:</label>
    <input type="text" name="name" id="name">
    <button type="submit">SEARCH</button>
  </form>
</div>

<div id="data-container"></div>
<div id="pagination-container"></div>

<div class="finding-results">
  <%if(locals.data){ %>
  <%data.forEach((drink) => { %>
  <h3><%=drink.name%></h3>
  <img src="<%=drink.imageURL%>" alt="drink image">
  <p><%=drink.ingredient1.measure%> <%=drink.ingredient1.name%></p>
  <%})%>
  <%} else { %>
  <% } %>
</div>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="pagination.js"></script>

<script>
  var dataReceived = <%- JSON.stringify(data)%>;
</script>

<script>
  $('#pagination-container').pagination({
    dataSource: dataReceived,
    pageSize: 3,
    className: 'paginationjs-big',
    callback: function(data, pagination) {
      var html = singlePageTemplate(data);
      $('#data-container').html(html);
    }
  })

  function singlePageTemplate(data) {
    let htmlString = "<ul>";
    data.forEach(element => {
      htmlString += `<li>${element.name}</i>`;
    });
    htmlString += '</ul>';
    return htmlString;
  }
</script>

<%- include('./partials/footer.ejs')%>